a.configure-chatroom-button,
a.close-chatbox-button,
.chatroom-form,
.chat-body p,
.chat-content,
.chatroom-form legend,
#available-chatrooms dt,
#converse-roster dt,
.room-info,
div.chat-title,
.chat-head #controlbox-tabs,
.participants ul.participant-list li,
ul#controlbox-tabs li a,
div#users,
div#chatrooms,
div#login-dialog,
div#settings
{
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 11px !important;
}

.chatbox .dropdown dt a span.icon-online,
#converse-roster dd.current-xmpp-contact span.icon-online {
    color: #0c0;
}

.chatbox .dropdown dt a span.icon-dnd,
#converse-roster dd.current-xmpp-contact span.icon-dnd {
    color: #c00;
}

.chatbox .dropdown dt a span.icon-away,
#converse-roster dd.current-xmpp-contact span.icon-away {
    color: orange;
}

.chatbox .dropdown dt a span.icon-offline,
#converse-roster dd.current-xmpp-contact span.icon-offline {
    color: #ccc;
}

#conversejs a, #conversejs a:visited {
    color: #4C4C4C;
}

#conversejs #controlbox .controlbox-head,
#conversejs .chat-head.chat-head-chatbox {
    background-color: #4C4C4C;
}

#conversejs .chatbox .chat-body .chat-message span.chat-msg-me {
    color: #4C4C4C;
}

#conversejs .chatbox .chat-body .chat-message span.chat-msg-them {
    color: #F25829;
}

#conversejs .chatbox form.sendXMPPMessage .chat-toolbar a,
#conversejs .chatbox form.sendXMPPMessage .chat-toolbar .toggle-smiley,
#conversejs #controlbox #fancy-xmpp-status-select a.change-xmpp-status-message {
    color: #4C4C4C;
}

#conversejs #converse-roster .roster-contacts dd.current-xmpp-contact span.icon-online {
    color: #adce4a;
}

#conversejs #converse-roster .roster-contacts dd.current-xmpp-contact span.icon-offline {
    color: #4C4C4C;
}

#conversejs .button-primary,
#conversejs .button-secondary {
    background-color: #4C4C4C;
}
